body {
    font-family: arial;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /** con template, resumimos las dos anteriores (filas / columnas)**/
    grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicio] 200px [inicio2] 200px [final];
    height: 100vh;
    grid-gap: 2px;
}

.item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}

.item:nth-of-type(1) {
    grid-column: inicio / destacado-end;
    grid-row: inicio / final;
}

.item:nth-of-type(2) {
    grid-column: destacado-end / destacado2-end;
    grid-row: inicio / final;
}

.item:nth-of-type(3) {
    grid-column: destacado2-end / final;
}
